* {
padding: 0;
margin: 0;
}

body {
	text-align: center;
	background-image: url("background.jpg");
	background-size: cover;
}

p {
	text-align: right;
	background-color: rgba(57.6%, 44.7%, 43.5%,0.5); 
	/*text-decoration: underline; */
	text-transform: capitalize;
	line-height: 1.5;
	font-style: italic;
	/*font-weight: 3000;*/
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin: 5px;
	padding: 10px;
}

.navbar {
	background-color: rgba(5,5,5,0.6);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: row-reverse;
	align-content: center;
}

.navbar ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: row-reverse;
}

.navbar a {
	border-radius: 20px;
	text-decoration: none;
	font-size: 1.6em;
	color: rgb(255,255,200);
	padding: 7px 0.8em;
}

.navbar a:hover {
	background-color: white;
	color: rgb(10,10,250);
}

.logo {
	border-radius: 50%;
	padding: 0 0.6em;
	height: 40px;
}

.center tr {
	padding: 10px;
	margin: 30px;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.groups {
	border: 15px solid  rgba(45,29,125,0.6);
	border-radius: 10px;
	margin: 10px;
	width: 600px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.navbar li {
	list-style: none;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	padding: 0.6em 0;
}

.groups img,
.groups iframe {
	cursor: help;
	margin: 5px;
	width: 550px;
}

.groups a {
	text-decoration: none;
	color: black;
	font-size: 18px;
	margin: 5px;
}